<section id="project_details" class="project_details_section" aria-labelledby="project_details-section">
    <div class="project_cover">
        <div class="project_resume">
            <h3>{{ project.name }}</h3>
        </div>
        <div class="carousel_projects">
            <p-carousel [value]="project.images" [numVisible]="1" [numScroll]="1" [circular]="true" >
                <ng-template let-image pTemplate="item">
                    <article class="card">
                        <img src="{{ image }}"/>
                    </article>
                </ng-template>
            </p-carousel>
            <div class="carousel_buttons">
                <a href="{{ project.link }}" target="_blank" rel="noopener noreferrer">
                    <button>Ver demo</button>
                </a>
                @if (project.showGithubRepo) {
                    <button class="glass">Github Repo</button>
                }
            </div>
        </div>
    </div>
    <h2>
        Descrição
    </h2>
    <p> &nbsp; {{ project.description }}</p>
    <h2 class="technology_title">
        Tecnologias Usadas
    </h2>
    <ul class="technologies">
        @for (technology of project.technologies; track $index) {
            <li>{{ technology }}</li>
        }
    </ul>
    <h2>
        Desafios e Soluções
    </h2>
    <p> &nbsp; {{ project.challenges }}</p>
    <h2>
        Key Features
    </h2>
    <ul class="key_features">
        @for (feature of project.features; track $index) {
            <li>
                <span>
                    <div class="icon">
                        <i class="fa-solid fa-check"></i>
                    </div>
                    <p>{{ feature }}</p>
                </span>
            </li>
        }
    </ul>
    <h2>
        Lições aprendidas
    </h2>
    <p> &nbsp; {{ project.lessons }}</p>
    <div class="project_resume_buttons">
        <a href="https://www.github.com/ThomasDixini/AplicativoEsteticaDemonstracao" target="_blank" rel="noopener noreferrer">
            <button>Ver demo</button>
        </a>
        @if (project.showGithubRepo) {
            <button class="glass">Github Repo</button>
        }
    </div>
</section>